<% layout('layouts/boilerplate.ejs') %>
    <script>
        document.title = "YelpCamp | Edit Campground📝";
    </script>
    <link rel="stylesheet" href="/../public/style/new.css">
    <style>
        body {
            background: url("https://3.bp.blogspot.com/-rHGW-Pj086E/XJqrXq3DJlI/AAAAAAAABB0/kRGUxP_OqkUmicF3bW129ubAa0myCJs9ACKgBGAs/w0/sunset-horizon-scenery-landscape-art-uhdpaper.com-4K-178.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            height: 100vh;

        }
    </style>
    <div class="col-5 container my-2 formBox">
        <h2 class="text-center heading">EDIT CAMPGROUND</h2>
        <hr>
        <form action="/campgrounds/<%= campground.id%>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label for="name" class="formText ">Name</label>
                <input type="text" name="name" id="name" class="form-control form-control-sm"
                    value="<%= campground.name %>" required>
                <div class="invalid-feedback">
                    Please provide a valid name.
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="location" class="formText ">Location</label>
                <input type="text" name="location" id="location" class="form-control form-control-sm"
                    value="<%= campground.location %>" required>
                <div class="invalid-feedback">
                    Please provide a valid location.
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description" class="formText ">Description</label>
                <textarea name="description" id="description" class="form-control form-control-sm" rows="5" required
                    style="resize:none "><%= campground.description %></textarea>
                <div class="invalid-feedback">
                    Please provide a valid description.
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="image" class="form-label">Add images</label>
                <input class="form-control form-control-sm" type="file" id="image" name="image" multiple>
            </div>
            <div class="form-group mb-3">
                <label for="price" class="formText " class="form-label">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-text currency">$</div>
                    <input type="number" class="form-control form-control-sm " id="price" name="price"
                        value="<%= campground.price %>" required>
                    <div class="invalid-feedback">
                        Please provide a valid Price.
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <% for(let i=0;i<campground.images.length;i++) {%>
                <img src="<%= campground.images[i].url %>" class="img-thumbnail mb-1" alt="<%= campground.name %>" style="width: 30%;">
                <div class="form-check-inline">
                    <input type="checkbox" name="deleteimg[]" id="image-<%= i %>" value="<%= campground.images[i].filename%>">
                    <label for="image-<%= i %>">Delete</label>
                </div>
                <% } %>
            </div>

            <div class="form-group mb-3">
                <button type="submit" class="btn  btn-success">Update Campground</button>
                <a href="/campgrounds/<%= campground.id %>" class="btn btn-danger">cancel</a>
            </div>
        </form>
    </div>
    <script src="/../public/js/clientvalidation.js"></script>